{{ define "main" }}
<main id="home">
    <div>

        <div id="content">
            {{ .Content }}
        </div>
    </div>

    <div id="recent-posts">
        <h2><a href="/post/">blog posts</a></h2>
        <ul>
            {{ range first 5 .Data.Pages.ByPublishDate.Reverse }}
                <li>
                    <span>{{ .Render "time-element" }}</span>
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
        <h2>works</h2>
        <h2>Twitter</h2>
    </div>
</main>
{{ end }}
